#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.arrow {
  background-color: black;
  padding: 10px;
  border: 2px;
  border-radius: 5px;
}

.form {
  background-image: url("/pattern-bg-desktop.png");
  padding: 100px;
  height: auto;
}

input {
  width: 250px;
  padding: 10px;
  border: 2px;
  border-radius: 5px;
}

.mapData {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

  left: 50%;
  transform: translateX(-50%);

  top: 210px;
  width: 60%;
  flex-direction: row;
  text-align: center;
  z-index: 10;
  border: 5px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    text-align: left;
  padding: 30px;
  gap: 20px;
 
  background-color: white;
  margin: 0 auto;
}

.parent {
  display: grid;
  justify-content: center;
  align-content: center;

  /* margin-left: 30%;
margin-right: auto; */
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.ipHeader {
  grid-area: 1 / 1 / 2 / 2;
}
.ipData {
  grid-area: 2 / 1 / 3 / 2;
}
.locationHeader {
  grid-area: 1 / 2 / 2 / 3;
}
.locationData {
  grid-area: 2 / 2 / 3 / 3;
}
.timezoneHeader {
  grid-area: 1 / 3 / 2 / 4;
}
.timezoneData {
  grid-area: 2 / 3 / 3 / 4;
}
.ispHeader {
  grid-area: 1 / 4 / 2 / 5;
}
.ispData {
  grid-area: 2 / 4 / 3 / 5;
}

.map {
  z-index: 0;
  position: relative;
  height: 100%;
  width: 100%;
  margin-top: -60px;
}
